.display-632f {
    padding: var(--view-gutter);
}

.title-3d20 {
    font-size: max(8vw, var(--std-text-display1-size));
    /* color: white; */
    /* color: oldlace; */
    color: cornsilk;
    /* color: slategray; */
    /* color: darkblue; */
    /* color: darkslateblue; */
    /* color: slateblue; */
    /* color: darkmagenta; */
    /* color: rosybrown; */
    /* color: rebeccapurple; */
    /* color: purple; */
    /* color: darkred; */
    /* mix-blend-mode: overlay; */
    /* mix-blend-mode: difference; */
    /* mix-blend-mode: screen; */
}
/*
.title-3d20 > *:nth-child(3) {
    margin-left: 0vw;
}
*/

.poster-e885 {
    z-index: -1;
    animation-name: poster-a2bb;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
    animation-delay: 1s;
}
.poster-e885::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: .4;
    background: black;
}

@keyframes poster-a2bb {
    0%{
        clip-path: polygon(0vw 0%, 100% 0%, 100% 40%, calc(100% - 0vw) 100%, 0% 100%, 0% 60%);
    }
    100% {
        clip-path: polygon(2vw 0%, 100% 0%, 100% 40%, calc(100% - 2vw) 100%, 0% 100%, 0% 60%);
    }
}
