.Section4-5c1d {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--section-gutter);
    margin-bottom: var(--section-gutter);
}

.Section4-5c1d .quote-98a3 {
    max-width: 35rem;
    margin-left: 8rem;
}

.Section4-5c1d::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: white;
    clip-path: polygon(40% 0%, 41% 0%, 36% 100%, 35% 100%);
}

.thumb-8c5f {
    width: 16rem;
    height: 16rem;
    flex-shrink: 0;
}

.player-f889 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    isolation: isolate;
    overflow: hidden;
    box-shadow: var(--std-shadow18);
    transition: transform var(--std-duration-normal);
    cursor: pointer;
}
.player-f889:hover {
    transform: scale(1.2);
}
.player-f889.expanded {
    position: fixed;
    z-index: 1;
    inset: 0;
    align-items: center;
    box-shadow: unset;
}
.player-f889.expanded:hover {
    transform: unset;
}

.overlay-f52b {
    position: absolute;
    z-index: -1;
    inset: 0;
    display: none;
    background-color: hsl(0deg 0% 100% / .9);
}
.player-f889.expanded .overlay-f52b {
    display: unset;
}

.play-icon-311e {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
}
.player-f889.expanded .play-icon-311e {
    display: none;
}

.video-6af0 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform var(--std-duration-normal);
}
.player-f889:hover .video-6af0 {
    transform: unset;
}
.player-f889.expanded .video-6af0 {
    width: auto;
    max-width: 100%;
    max-height: min(80vh, 720px);
    margin: auto;
    object-fit: contain;
    transform: unset;
}
