.NavigationHeader-06c9 {
    margin: var(--view-gutter);
    margin-bottom: unset;
}

.route-15c0 {
    position: relative;
    isolation: isolate;
    padding: var(--std-gutter1) var(--std-gutter2);
    font-weight: var(--std-text-weight2);
    letter-spacing: var(--std-text-space2);
    text-transform: uppercase;
    color: var(--std-color-secondary-accent);
}
.route-15c0::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0%);
    transition: all var(--std-duration2);
}
.route-15c0:hover::after,
.route-15c0.active::after {
    transform: scaleX(100%);
}

.brand-fe3e {
    overflow: hidden;
}

.brand-fe3e > * {
    opacity: 0;
    transform: translateY(-120%);
    animation-name: enter-6a65;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.41, 0.11, 1);
    will-change: transform;
}

@keyframes enter-6a65 {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
